.animate{
    opacity: 0;
    filter: blur(15px);
    transform: translateY(-50%);
    transition: all 2s ease;

}
.animate-right{
    display: flex;
    filter: blur(10px);
    transform: translateY(-80%);
    transition: all;

}
.animate-left{
    display: flex;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1.9s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    
}

